# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Environment variables
.env

# Build
dist/
build/

# TypeScript
*.tsbuildinfo

node_modules
dist
.env

# OS-specific
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/

# Others
coverage/
